.level1 {
    overflow-y: auto;
    padding: 5% 7% 0 7%;
}

.Section {
    padding-top: 6em;
}

.slide ol>li:before {
    padding-right: 0.5%;
}

.slide ol li:before, .slide ul li:before {
    width: 8%;
}

.slide .double ol li:before , .slide .double ul li:before {
    width: 16%;
}

.slide {
    line-height: 1.6;
}

.slide h1 {
    margin-bottom: 0.6em;
}

.slide p, .slide ul, .slide ol {
    margin-bottom: 0.3em;
}

.slide pre {
    margin-bottom: 0.2em;
}

.level1::after {
    left: 95%;
    bottom: 3%;
}    

div.sourceCode {
    overflow-x: hidden;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 5px 1px 5px;
    margin-bottom: 0.2em;
}
